version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: |
            docker info
            docker build -t php-site .
            docker login --username=$HEROKU_USERNAME --password=$HEROKU_API_KEY registry.heroku.com
            docker tag php-site registry.heroku.com/$HEROKU_APP_NAME/web
            docker push registry.heroku.com/$HEROKU_APP_NAME/web
